<!-- Modal -->
<div class="modal fade text-start" id="deleteItemModal{{ item.id }}" tabindex="-1" aria-labelledby="deleteItemModal{{ item.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteItemModal{{ item.id }}Label">Delete item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    Are you sure you want to delete the item <strong>{{ item }}</strong>? <br>
                    All associated items will be deleted as well.
                </p>

                <p class="mb-0">
                    Please be aware that this action cannot be undone and the item will be permanently deleted.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, close</button>

                <form method="post" action="{{ path('app_admin_item_delete', {'id': item.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                    <button class="btn btn-danger">Yes, delete it</button>
                </form>
            </div>
        </div>
    </div>
</div>