<!-- Modal -->
<div class="modal fade text-start" id="deleteUserModal{{ user.id }}" tabindex="-1" aria-labelledby="deleteUserModal{{ user.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteUserModal{{ user.id }}Label">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    Are you sure you want to delete the user <strong>{{ user }}</strong>?
                </p>
                <p class="mb-0">
                    Please be aware that this action cannot be undone and the user will be permanently deleted.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, close</button>

                <form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button class="btn btn-danger">Yes, delete it</button>
                </form>
            </div>
        </div>
    </div>
</div>