{% extends 'app/base.html.twig' %}

{% block title %}{{ parent() }} – Home{% endblock %}

{% block body %}
    {% include 'app/home/_jumbotron.html.twig' %}

    <section class="pb-5">
        <div class="container bg-light shadow-sm p-5" style="margin-top: -135px">
            {{ form_start(form, {'attr': {'class': 'row'}}) }}
                <div class="col-8 col-md-7 col-lg-4 mt-4 mt-lg-0">
                    {{ form_row(form.fromDate) }}
                </div>

                <div class="col-4 col-md-5 col-lg-2 mt-4 mt-lg-0">
                    {{ form_row(form.fromTime) }}
                </div>

                <div class="col-8 col-md-7 col-lg-4 mt-4 mt-lg-0">
                    {{ form_row(form.toDate) }}
                </div>

                <div class="col-4 col-md-5 col-lg-2 mt-4 mt-lg-0">
                    {{ form_row(form.toTime) }}
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="submit">Find your hero</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    <section id="catalog">
        {% include 'app/home/_processes.html.twig' %}
    </section>

    {# Catalog here #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fs-1 text-center mb-3">
                    Our <span class="text-body-secondary">heroes</span>
                </h2>

                {% for category in categories %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="h4 fw-bold card-title mb-3">{{ category }}</h3>
                            <div class="row">
                                {% for item in category.items %}
                                    <div class="col-12 {{ loop.last ? '' : 'mb-3' }}">
                                        {% include 'app/home/_item.html.twig' with {durationInDays: durationInDays, unavailableItems: unavailableItems, cart: cart, item: item} only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'app/home/_testimonials.html.twig' %}

    {% include 'app/home/_services.html.twig' %}

    {% include 'app/home/_faq.html.twig' %}

    {% include 'app/home/_contact.html.twig' %}
{% endblock %}
