{% extends 'security/base.html.twig' %}

{% block title %}{{ parent() }} – Forgot password{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'w-75 m-auto', 'hx-post': path('app_forgot-password'), 'hx-target': 'body'}}) }}
    <h3 class="text-center fw-normal mb-5">Forgot password</h3>

    {{ form_errors(form) }}

    {{ form_row(form.email) }}

    <div class="my-5 d-grid gap-3">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
