{% set route = app.request.attributes.get('_route') %}

<div class="row border-bottom mb-4 mb-lg-5 px-lg-4 py-lg-1 d-lg-none bg-light">
    <!-- Sidebar with Offcanvas menu - Display on mobile, hides from lg breakpoint -->
    <div class="col">
        <nav class="navbar navbbg-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSimpleDarkNavbarSidebarApplication" aria-controls="offcanvasSimpleDarkNavbarSidebarApplication" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasSimpleDarkNavbarSidebarApplication" aria-labelledby="offcanvasSimpleDarkNavbarSidebarApplicationLabel">
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="{{ path('app_admin_home') }}" hx-boost="true">
                            <img class="img-fluid wp-image-6253" width="25" height="25" src="{{ asset('images/logo_128.svg') }}" alt="{{ app_name }} logo">
                            {{ app_name }}
                        </a>

                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body h-100 d-flex flex-column">
                        <!-- First Sidebar Navigation -->
                        <ul class="nav nav-pills flex-column gap-2 mb-auto" hx-boost="true">
                            <li>
                                <a href="{{ path('app_admin_dashboard') }}" class="nav-link link {% if 'app_admin_dashboard' in route %}active link-light fw-semibold{% else %}link-dark{% endif %}">
                                    <i class="bi me-2 bi-house"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_admin_user_index') }}" class="nav-link link {% if 'app_admin_user_' in route %}active link-light fw-semibold{% else %}link-dark{% endif %}">
                                    <i class="bi me-2 bi-people-fill"></i>
                                    Users
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_admin_category_index') }}" class="nav-link link {% if 'app_admin_category_' in route %}active link-light fw-semibold{% else %}link-dark{% endif %}">
                                    <i class="bi me-2 bi-tags-fill"></i>
                                    Categories
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_admin_item_index') }}" class="nav-link link {% if 'app_admin_item_' in route %}active link-light fw-semibold{% else %}link-dark{% endif %}">
                                    <i class="bi me-2 bi-boxes"></i>
                                    Items
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Avatar notification and profile menu -->
    <div class="col d-flex align-items-center justify-content-end">
        <!-- First Sidebar Navigation -->
        <div class="dropdown">
            <a data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle text-decoration-none d-flex align-items-center gap-3 text-body">
                <img class="rounded-circle" width="32" height="32" src="https://placehold.co/128x128" alt="{{ app.user }} avatar">
            </a>

            <ul class="dropdown-menu" hx-boost="true">
                <li>
                    <a class="dropdown-item" href="{{ path('app_admin_user_edit', {'id': app.user.id}) }}">
                        My profile
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('app_home') }}">
                        Back to site
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>