{{ sonata_seo_title() }}
{# <title>My custom title</title> #}

{{ sonata_seo_metadatas() }}
{# <meta name="my-meta-name" content="my-value"/> #}

{{ sonata_seo_link_canonical() }}
{# <link rel="canonical" href="http://www.example.com/"/> #}

{{ sonata_seo_lang_alternates() }}
{# <link rel="alternate" href="http://www.example.com/en" hreflang="en"/> #}

{{ sonata_seo_oembed_links() }}
{# <link rel="alternate" type="application/json+oembed" href="http://flickr.com/services/oembed?url=http%3A%2F%2Fflickr.com%2Fphotos%2Fbees%2F2362225867%2F&format=json" title="Bacon Lollys oEmbed Profile"/> #}