{% extends 'email/base.html.twig' %}

{% block content %}
    Hi {{ user }},<br>
    <br>
    Oops! It happens to the best of us – forgetting passwords can be tricky. Not to worry, though! You're just one
    step away from getting back into your account.<br>
    <br>
    To reset your password and regain access, simply click the button below:<br>
    <br>
    {% include 'email/button.html.twig' with {url: url('app_reset-password', {token: resetToken.token}), text: 'Reset my password'} %}<br>
    <br>
    If you have some trouble with the button above, copy and paste the URL below into your favorite web browser: <br>
    <a href="{{ url('app_reset-password', {token: resetToken.token}) }}">{{ url('app_reset-password', {token: resetToken.token}) }}</a> <br>
    <br>
    Once you click the link, you'll be prompted to create a new password. Make sure it's something secure yet easy for
    you to remember.<br>
    <br>
    Please keep in mind that the link expires in
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'en') }}.<br>
    <br>
    If you didn't request this password reset you can safely ignore this email.<br>
    <br>
    Thanks for being part of {{ app_name }} and for your patience.<br>
    <br>
    Cheers, <br>
    The {{ app_name }} Team
{% endblock %}

